.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.filters button {
    background-color: #FF5A5F;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    float: right;
    font-size: 18px;
    margin: 12px 30px;
    opacity: 1;
    min-width: 150px;
}
.filters button:hover {
    opacity: 0.9;
 }
 /* locations and amenities */
 .locations, .amenities {
     height: 100%;
     width: 25%;
     display: inline-block;
     position: relative;
 }
 /* location input field style */
 .locations {
     border-right: 1px solid #DDDDDD;
 }
 .filters h3, .filters h4, .filters h2 {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0;
 }
 /* filter header 3 style */
 .filters h3 {
     font-size: 17px;
     font-weight: 600;
     height: 50%;
     padding: 15px 0 0 50px;
 }
 /* filter header 4 style */
 .filters h4 {
     font-size: 14px;
     font-weight: 400;
     height: 50%;
     padding: 5px 0 0 50px;
 }
 .filters h2 {
     font-size: 16px;
     font-weight: bold;
     margin: 30px auto 0 30px;
 }
 .popover {
     background-color: #FAFAFA;
     border: 1px solid #DDDDDD;
     border-radius: 4px;
     display: none;
     position: absolute;
     width: 100%;
     margin: auto -2px;
 }
 .filters .locations:hover .popover,
 .filters .amenities:hover .popover{
     display: block;
 }
 .filters .locations ul, .amenities ul {
     padding: 6px 0 10px 15px;
     list-style-type: none;
 }
 .filters .locations li, .amenities li {
     margin: 10px 10px;
     list-style-type: none;
     padding: 5px 0 0 30px;
 }
 @media only screen and (max-width: 1000px) {
    .filters{
        width: 95%;
        margin: 0 auto;
    }
    .filters .locations,
    .filters .amenities {
        width: 70px;
        width: 100%;
        border-bottom: 1px solid #dddddd;
    }
    .filters .locations:hover .popover,
    .filters .amenities:hover .popover{
        margin-left: auto;
        position: relative;
        width: 50%;
        z-index: 1;
    }
    .filters .amenities:hover {
        border-top: 1px solid #dddddd;
    }
    }
